.DS_Store
MinorityReportWithWatch.xcodeproj/project.xcworkspace/xcuserdata/everest.xcuserdatad/
MinorityReportWithWatch.xcodeproj/xcuserdata/everest.xcuserdatad/
MinorityReportWithWatch.xcodeproj/xcuserdata/roderic.xcuserdatad/xcdebugger/
